@import "./responsive.scss";

.layout{

    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    @include lg{
        background-color:rgb(200, 166, 154);
        max-width: 1280px;
    }
    
    @include md{
        background-color:rgb(133, 146, 171);
        max-width: 768px;
    }
    @include sm{
        background-color: rgb(199, 154, 154);
        max-width: 640px;
    }

    .content{
        //background-color: purple;
        flex: 1;
    }
}